
@using Ben.Classes;



@{string filename = "/images/[YOURFILENAME].jpg"; }

<img src="@filename" />

@{
    Ben.Classes.MagickMetadata magickMetadata = new Ben.Classes.MagickMetadata(filename);
    Dictionary<string, object> myDictionary = magickMetadata.ClassPropertiesToDictionary();
    <table id="pagedTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        @foreach (KeyValuePair<string, object> entry in myDictionary)
        {
            <tr>
                <td>@entry.Key.ToString()</td>
                <td>@entry.Value.IsNull("value not set").ToString()</td>
            </tr>
        }
    </table>
}
